.header {
    border: 1px solid #ececec;

    &__bloc {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__contact {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0;
        padding-left: 0;
    }
}

.nav {
    display: flex;
    margin: 0;
    margin-right: 305px;
    padding-left: 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &__list &__link::after {
        content: "";
        opacity: 0;

        position: absolute;
        bottom: -1px;

        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #2196f3;
    }

         &__list:not(:last-child) {
             margin-right: 50px;
         }
}

.nav__link {
    position: relative;
    display: inline-block;
    padding: 32px 0px;
    color: var(--secondary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.accent {
        color: var(--accent-color);
    }

    &.accent::after {
        opacity: 1;
    }

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

}

.contact {
    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__link {
        display: flex;
        align-items: center;
        padding: 32px 0px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }

    &__icon :not(:last-child) {
        margin-right: 10px;
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-color);
    }
}