.peculiarities {
    padding: 94px 0;

    &__menu {
        display: flex;
        justify-content: center;
    }

    &__list:not(:last-child) {
        margin-right: 30px;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 120px;
        margin-bottom: 30px;

        background: #f5f4fa;
        border-radius: 4px;
    }

    &__title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: #212121;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;

        letter-spacing: 0.03em;
    }
}