.regu-clients {
    padding: 60px 0px;

    @media (min-width: 1200px) {
        padding: 94px 0;
    }
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &__list {
        flex-basis: calc((100% - 1 * 30px) / 2);
    }

    &__list:not(:last-child) {
        margin-bottom: 0;

        @media (max-width: 450px) {
            margin-bottom: 30px;
        }
    }

    &__list:not(:last-child) {
        @media (max-width: 1200px) {
            margin-bottom: 30px;
        }
    }

    &__list:nth-last-child(-n + 2) {
        @media (max-width: 768px) {
            margin-bottom: 0;
        }
    }

    &__list {
        @media (min-width: 1200px) {
            flex-basis: calc((100% - 5 * 30px) / 6);
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 92px;
        fill: #afb1b8;

        border: 1px solid #afb1b8;
        box-sizing: border-box;
        border-radius: 4px;

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus {
        border: 1px solid var(--accent-color);
        fill: var(--accent-color);
    }
}